.popup__btn_type_delete {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  background-image: url(../../../../images/btn-close.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 615px){
  .popup__btn_type_delete {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}