.photo__card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  max-height: 361px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (max-width: 767px){
  .photo__card {
    max-height: 100%;
    max-width: 100%;
  }
}
