.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
  margin: auto;
  padding: 0;
  margin-bottom: 52px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px){
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}