.popup__btn-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/btn-close.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.popup__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 615px){
  .popup__btn-close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}