.photo__card-text {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  line-height: 29px;
  font-size: 24px;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 24px;
  padding-left: 21px;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}